category:
  name: 'Area'
  parent: 'Magic'
  requires: [
    Weapon.Magic: [ 'area' ]
  ]

category:
  name: 'Bouncing'
  parent: 'Magic'
  requires: [
    Weapon.Magic: [ 'bouncing' ]
  ]

category:
  name: 'Controlled'
  parent: 'Magic'
  requires: [
    Weapon.Magic: [ 'controlled' ]
  ]

category:
  name: 'Homing'
  parent: 'Magic'
  requires: [
    Weapon.Magic: [ 'homing' ]
  ]

category:
  name: 'Piercing'
  parent: 'Magic'
  requires: [
    Weapon.Magic: [ 'piercing' ]
  ]

category:
  name: 'Stream'
  parent: 'Magic'
  requires: [
    Weapon.Magic: [ 'stream' ]
  ]
