category:
  name: 'Gun'
  parent: 'Ranged'
  requires: [
    Weapon.Ranged: [
      'bullet_consuming'
    ]
  ]

category:
  name: 'Automatic Gun'
  parent: 'Gun'
  requires: [
    General: ['auto']
  ]

category:
  name: 'Bow'
  parent: 'Ranged'
  requires: [
    Weapon.Ranged: [
      'arrow_consuming'
    ]
  ]

category:
  name: 'Repeater'
  parent: 'Bow'
  requires: [
    General: ['auto']
  ]

category:
  name: 'Launcher'
  parent: 'Ranged'
  requires: [
    Weapon.Ranged: [
      'rocket_consuming'
    ]
  ]

category:
  name: 'Dart'
  parent: 'Ranged'
  requires: [
    Weapon.Ranged: [
      'dart_consuming'
    ]
  ]

category:
  name: 'Special'
  parent: 'Ranged'
  requires: [
    Weapon.Ranged: [
      'no_ammo'
    ]
  ]
