# category:
#   name: 'Lighting'
#   parent: 'Room Needs'
#   requires:[
#     Furniture: ['housing_light']
# ]

category:
  name: 'Torch'
  parent: 'Lighting'
  requires:[
    Furniture.Lighting: ['torch']
]

category:
  name: 'Candelabra'
  parent: 'Lighting'
  requires:[
    Furniture.Lighting: ['candelabra']
]

category:
  name: 'Candle'
  parent: 'Lighting'
  requires:[
    Furniture.Lighting: ['candle']
]

category:
  name: 'Chandelier'
  parent: 'Lighting'
  requires:[
    Furniture.Lighting: ['chandelier']
]

category:
  name: 'Hanging Lantern'
  parent: 'Lighting'
  requires:[
    Furniture.Lighting: ['hanging_lantern']
]
category:
  name: 'Lamp'
  parent: 'Lighting'
  requires:[
    Furniture.Lighting: ['lamp']
]
category:
  name: 'Holiday Light'
  parent: 'Lighting'
  requires:[
    Furniture.Lighting: ['holiday_light']
]
