category:
  name: 'Bathtub'
  parent: 'Tables'
  requires:[
    Furniture.Tables: ['bathtub']
]
category:
  name: 'Bookcase'
  parent: 'Tables'
  requires:[
    Furniture.Tables: ['bookcase']
]
category:
  name: 'Dresser'
  parent: 'Tables'
  requires:[
    Furniture.Tables: ['dresser']
]
category:
  name: 'Piano'
  parent: 'Tables'
  requires:[
    Furniture.Tables: ['piano']
]
category:
  name: 'Table'
  parent: 'Tables'
  requires:[
    Furniture.Tables: ['table']
]
category:
  name: 'Work Bench'
  parent: 'Tables'
  requires:[
    Furniture.Tables: ['workbench']
]
