category:
  name: 'Anvil'
  parent: 'Furniture'
  requires:[
    Furniture.Other: ['anvil']
]
category:
  name: 'Beachstuff'
  parent: 'Furniture'
  requires:[
    Furniture.Other: ['beachstuff']
]
category:
  name: 'Bottle'
  parent: 'Furniture'
  requires:[
    Furniture.Other: ['bottle']
]
category:
  name: 'Bowl'
  parent: 'Furniture'
  requires:[
    Furniture.Other: ['bowl']
]
category:
  name: 'Campfire'
  parent: 'Furniture'
  requires:[
    Furniture.Other: ['campfire']
]
category:
  name: 'Cannon'
  parent: 'Furniture'
  requires:[
    Furniture.Other: ['cannon']
]
category:
  name: 'Grandfather Clock'
  parent: 'Furniture'
  requires:[
    Furniture.Other: ['clock']
]
category:
  name: 'Cooking Pot'
  parent: 'Furniture'
  requires:[
    Furniture.Other: ['cooking_pot']
]
category:
  name: 'Crate'
  parent: 'Furniture'
  requires:[
    Furniture.Other: ['crate']
]
category:
  name: 'Water Fountain'
  parent: 'Furniture'
  requires:[
    Furniture.Other: ['fountain']
]
category:
  name: 'Lunar Monolith'
  parent: 'Furniture'
  requires:[
    Furniture.Other: ['monolith']
]
category:
  name: 'Planter Box'
  parent: 'Furniture'
  requires:[
    Furniture.Other: ['planter']
]
category:
  name: 'Sink'
  parent: 'Furniture'
  requires:[
    Furniture.Other: ['sink']
]
category:
  name: 'Statue'
  parent: 'Furniture'
  requires:[
    Furniture.Other: ['statue']
]
category:
  name: 'Alphabet Statue'
  parent: 'Furniture'
  requires:[
    Furniture.Other: ['statue_alphabet']
]
category:
  name: 'Tombstone'
  parent: 'Furniture'
  requires:[
    Furniture.Other: ['tombstone']
]
